<style>
    .map-canvas { 
        height: 400px; 
    }
    
    md-input-container {
        padding-bottom: 2px;
    }
</style>
<div layout="row" class="w-100" layout-align="center start">
    <div flex>
        <div layout="row" layout-align="space-between start">
            <div flex="70" class="md-whiteframe-z1">
                <div>
                    <md-content>
                        <div layout="row" layout-align="space-between center">
                            <div flex>
                                <md-button>1d</md-button>
                                <md-button class="md-primary md-raised">5d</md-button>
                                <md-button>1w</md-button>
                                <md-button>2w</md-button>
                                <md-button>1m</md-button>
                                <md-button>ALL</md-button>
                            </div>                       
                            <div flex>
                                <div layout="row" layout-padding>                                    
                                    <md-input-container md-no-float layout="row" layout-align="center center">
                                        <strong>De</strong>
                                        <input type="text" ng-model="model.de">
                                    </md-input-container>
                                    <md-input-container md-no-float layout="row" layout-align="center center">
                                        <strong>Até</strong>
                                        <input type="text" ng-model="model.ate">
                                    </md-input-container>
                                </div>
                            </div>     
                        </div>
                    </md-content>
                </div>                
                <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
            </div>
            <div flex="30" style="margin-left: 10px;">                                    
                <md-content class="md-whiteframe-z1" layout-padding>
                    <div layout="row">                        
                        <span flex="nogrow" class="md-display-1">JJA-2393</span>
                        <span flex="auto" class="md-subhead">BR040 Barbacena/MG</span>
                    </div>
                    <div layout="row" layout-align="space-between center" layout-margin>
                        <i flex class="fa fa-truck" aria-hidden="true"></i>                             
                        <span flex>
                            30 km/h
                        </span>
                    </div>
                    <div layout="row" layout-align="space-between center" layout-margin>
                        <i flex class="fa fa-exclamation-triangle" aria-hidden="true"></i>                             
                        <span flex>
                            Frenada
                        </span>
                    </div>
                </md-content>                
            </div>
        </div>
    </div>
</div>